/* * {
    border: 2px solid red;

} */

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Merriweather:ital,wght@1,300&display=swap');



body {
    background-color: steelblue;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', 'Bradley Hand', sans-serif;
    font-size: 22px;
}

/* This is targeting a class in html 
Classes are classified by . 
id's are classified by # 
*/
nav {
    display: flex;
    justify-content: center;
    background-color: steelblue;
}
main { 
    background-color: white;
    padding: 40px;
    border: 5px solid brown;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

img { 
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 4%;
    grid-column: 1/2;
    grid-row: 2/5;
    box-shadow: 5px 5px 10px black;
    transition: transform .5fe;
}
img:hover {
    opacity: .6;
    transform: scale(1.1);
}
a {
    color: black
}
nav a:hover {
    color: purple;
    background-color: white;

}
#main_title {
    font-size: 2em;
    text-align: center;
    font-family: 'Barlow', 'Bradley Hand', sans-serif;
}
h3 {
    text-align: center;
}
main p {
    text-align: center;
    margin: 0 auto;
    width: 40%;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 10px 100px 0 50px;
    background-color: antiquewhite;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
#sub_title {
    color: red;
    font-size: 2em;
    text-align: center;
    
}
.fav_site:hover {
    color: red;
}
footer {
    text-align: center;
    margin-top: 4%;
    font-size: 1.2em;
    padding: 25px 50px;
    background-color: steelblue;
}
footer a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1600px) {
    main {
        display:block;
    }
}